Repository DevExzh/litchi: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-sort, cargo-clippy

rustfmt:
  name: Run rustfmt
  entry: rustfmt -v --config-path . --edition 2024
  language: system
  pass_filenames: true

cargo-sort:
  name: Run cargo sort
  entry: cargo sort
  language: system
  pass_filenames: false

cargo-clippy:
  name: Run cargo clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

refactor: layer XLSB pivot view owner
  crates/litchi-xlsb/src/lib.rs
  crates/litchi-xlsb/src/pivot_view/codec.rs
  crates/litchi-xlsb/src/pivot_view/mod.rs
  crates/litchi-xlsb/src/pivot_view/model.rs
  crates/litchi-xlsb/src/pivot_view/tests.rs
Due: rustfmt, cargo-clippy

refactor: extract ODF namespace vocabulary
  crates/litchi-odf-common/src/lib.rs
  crates/litchi-odf-common/src/namespace.rs
  crates/litchi-odf/src/elements/element.rs
  crates/litchi-odf/src/elements/mod.rs
  crates/litchi-odf/src/lib.rs
  docs/adr/0008-migration-and-verification.md
Due: rustfmt, cargo-clippy

refactor: layer ODF image media owner
  crates/litchi-odf-common/src/package/mod.rs
  crates/litchi-odf-common/src/package/path.rs
  crates/litchi-odf/src/embedded_object.rs
  crates/litchi-odf/src/embedded_package.rs
  crates/litchi-odf/src/generic.rs
  crates/litchi-odf/src/lib.rs
  crates/litchi-odf/src/media/codec.rs
  crates/litchi-odf/src/media/mod.rs
  crates/litchi-odf/src/media/model.rs
  crates/litchi-odf/src/odp/presentation.rs
  crates/litchi-odf/src/ods/builder.rs
  crates/litchi-odf/src/ods/mutable.rs
  crates/litchi-odf/src/ods/parser.rs
  crates/litchi-odf/src/ods/shape.rs
  crates/litchi-odf/src/ods/sheet.rs
  crates/litchi-odf/src/ods/sheet_image.rs
  crates/litchi-odf/src/ods/spreadsheet.rs
  crates/litchi-odf/src/odt/document.rs
  crates/litchi-odf/src/rdf_package.rs
  crates/litchi-odf/src/script_package.rs
  crates/litchi-odf/tests/embedded_object_package_mutation.rs
  crates/litchi-odf/tests/odp_image_authoring.rs
  crates/litchi-odf/tests/semantic_images.rs
  crates/litchi-odf/tests/sheet_images.rs
Due: rustfmt, cargo-clippy

refactor: make DOCX numbering owner-only
  crates/litchi-docx/src/numbering/codec.rs
  crates/litchi-docx/src/numbering/mod.rs
  crates/litchi-docx/src/numbering/model.rs
  crates/litchi-docx/src/numbering/tests.rs
  crates/litchi-ooxml/src/docx/document.rs
  crates/litchi-ooxml/src/docx/list.rs
  crates/litchi-ooxml/src/docx/mod.rs
  crates/litchi-ooxml/src/docx/numbering.rs
  crates/litchi-ooxml/src/docx/paragraph.rs
  crates/litchi-ooxml/src/docx/styles.rs
  docs/adr/0002-crate-topology.md
  docs/adr/0008-migration-and-verification.md
  tools/crate_boundaries.json
Due: rustfmt, cargo-clippy

refactor: make XLSB conditional formatting owner-only
  crates/litchi-ooxml/src/xlsb/cells_reader.rs
  crates/litchi-ooxml/src/xlsb/conditional_formatting.rs
  crates/litchi-ooxml/src/xlsb/error.rs
  crates/litchi-ooxml/src/xlsb/mod.rs
  crates/litchi-ooxml/src/xlsb/workbook.rs
  crates/litchi-ooxml/src/xlsb/worksheet.rs
  crates/litchi-ooxml/src/xlsb/writer/conditional_formatting.rs
  crates/litchi-ooxml/src/xlsb/writer/mod.rs
  crates/litchi-ooxml/src/xlsb/writer/styles.rs
  crates/litchi-ooxml/src/xlsb/writer/workbook.rs
  crates/litchi-ooxml/src/xlsb/writer/worksheet.rs
  crates/litchi-xlsb/src/conditional_formatting/codec.rs
  crates/litchi-xlsb/src/conditional_formatting/mod.rs
  crates/litchi-xlsb/src/conditional_formatting/model.rs
  crates/litchi-xlsb/src/conditional_formatting/tests.rs
Due: rustfmt, cargo-clippy

refactor: converge XLSX threaded-comment owner API
  crates/litchi-ooxml/src/xlsx/mod.rs
  crates/litchi-ooxml/src/xlsx/threaded_comments/mod.rs
  crates/litchi-ooxml/src/xlsx/threaded_comments/package.rs
  crates/litchi-ooxml/src/xlsx/threaded_comments/person.rs
  crates/litchi-ooxml/src/xlsx/threaded_comments/reader.rs
  crates/litchi-ooxml/src/xlsx/threaded_comments/writer.rs
  crates/litchi-ooxml/src/xlsx/workbook.rs
  crates/litchi-ooxml/src/xlsx/writer/sheet.rs
  crates/litchi-ooxml/src/xlsx/writer/workbook.rs
  crates/litchi-ooxml/tests/xlsx_threaded_comment_crud.rs
  crates/litchi-xlsx/src/threaded_comments/codec.rs
  crates/litchi-xlsx/src/threaded_comments/mod.rs
  crates/litchi-xlsx/src/threaded_comments/tests.rs
  crates/litchi/examples/xlsx_threaded_comments_test.rs
Due: rustfmt, cargo-clippy

refactor: make DOCX mail merge owner-only
  crates/litchi-docx/src/lib.rs
  crates/litchi-docx/src/mail_merge/codec.rs
  crates/litchi-docx/src/mail_merge/mod.rs
  crates/litchi-docx/src/mail_merge/tests.rs
  crates/litchi-ooxml/src/docx/document.rs
  crates/litchi-ooxml/src/docx/mail_merge.rs
  crates/litchi-ooxml/src/docx/mod.rs
  crates/litchi-ooxml/src/docx/numbering.rs
  crates/litchi-ooxml/src/docx/package.rs
  crates/litchi-ooxml/src/docx/settings.rs
  crates/litchi-ooxml/tests/docx_mail_merge_authoring.rs
Due: rustfmt, cargo-clippy

docs(adr): record XLSB conditional-formatting ownership
  docs/adr/0008-migration-and-verification.md
Due: none

refactor: layer ODF metadata owner
  crates/litchi-odf/src/core/metadata/codec.rs
  crates/litchi-odf/src/core/metadata/mod.rs
  crates/litchi-odf/src/core/metadata/model.rs
  crates/litchi-odf/src/core/metadata/tests.rs
  crates/litchi-odf/src/core/mod.rs
  crates/litchi-odf/src/core/xml.rs
  crates/litchi-odf/src/formula/document.rs
  crates/litchi-odf/src/generic.rs
  crates/litchi-odf/src/lib.rs
  crates/litchi-odf/src/odb/document.rs
  crates/litchi-odf/src/odc/document.rs
  crates/litchi-odf/src/odg/document.rs
  crates/litchi-odf/src/odg/mutable.rs
  crates/litchi-odf/src/odi/document.rs
  crates/litchi-odf/src/odm/document.rs
  crates/litchi-odf/src/odp/mutable.rs
  crates/litchi-odf/src/odp/presentation.rs
  crates/litchi-odf/src/ods/mutable.rs
  crates/litchi-odf/src/ods/spreadsheet.rs
  crates/litchi-odf/src/odt/document.rs
  crates/litchi-odf/src/odt/mutable.rs
  crates/litchi-odf/src/oth/document.rs
Due: rustfmt, cargo-clippy

docs: record ODF owner layering
  docs/adr/0002-crate-topology.md
  docs/adr/0008-migration-and-verification.md
Due: none

style: normalize ODF common-path imports
  crates/litchi-odf/src/embedded_object.rs
  crates/litchi-odf/src/embedded_package.rs
  crates/litchi-odf/src/rdf_package.rs
Due: rustfmt, cargo-clippy

test: fix canonical DOCX numbering import
  crates/litchi-ooxml/src/docx/numbering.rs
Due: rustfmt, cargo-clippy

refactor(odf): remove data-style prefix aliases
  crates/litchi-odf/src/data_styles/mod.rs
  crates/litchi-odf/src/data_styles/tests.rs
Due: rustfmt, cargo-clippy

refactor: layer XLSX calculation-chain owner
  crates/litchi-xlsx/src/chain.rs
  crates/litchi-xlsx/src/chain/codec.rs
  crates/litchi-xlsx/src/chain/mod.rs
  crates/litchi-xlsx/src/chain/model.rs
  crates/litchi-xlsx/src/chain/package.rs
  crates/litchi-xlsx/src/chain/tests.rs
Due: rustfmt, cargo-clippy

docs(adr): define dedicated ODF family crates
  docs/adr/0002-crate-topology.md
  docs/adr/0023-odf-family-crate-split.md
  docs/adr/README.md
Due: none

refactor: layer DOCX alternative-format owner
  crates/litchi-docx/src/alt.rs
  crates/litchi-docx/src/alt/codec.rs
  crates/litchi-docx/src/alt/mod.rs
  crates/litchi-docx/src/alt/model.rs
  crates/litchi-docx/src/alt/package.rs
  crates/litchi-docx/src/alt/tests.rs
  crates/litchi-ooxml/src/docx/document.rs
  crates/litchi-ooxml/src/docx/writer/doc.rs
Due: rustfmt, cargo-clippy

refactor(odf): layer RDF package owner
  crates/litchi-odf/src/lib.rs
  crates/litchi-odf/src/odp/presentation.rs
  crates/litchi-odf/src/ods/spreadsheet.rs
  crates/litchi-odf/src/odt/document.rs
  crates/litchi-odf/src/rdf/codec.rs
  crates/litchi-odf/src/rdf/mod.rs
  crates/litchi-odf/src/rdf/model.rs
  crates/litchi-odf/src/rdf/package.rs
  crates/litchi-odf/src/rdf/tests.rs
  crates/litchi-odf/src/rdf_package.rs
  crates/litchi-odf/tests/rdf_package_mutation.rs
Due: rustfmt, cargo-clippy

refactor(pptx): layer embedded font owner
  crates/litchi-pptx/src/font.rs
  crates/litchi-pptx/src/font/codec.rs
  crates/litchi-pptx/src/font/mod.rs
  crates/litchi-pptx/src/font/model.rs
  crates/litchi-pptx/src/font/package.rs
  crates/litchi-pptx/src/font/tests.rs
Due: rustfmt, cargo-clippy

refactor(pptx): narrow embedded-font internals
  crates/litchi-pptx/src/font/mod.rs
Due: rustfmt, cargo-clippy

refactor(odp): create dedicated layered crate
  crates/litchi-odp/Cargo.toml
  crates/litchi-odp/src/authoring/builder.rs
  crates/litchi-odp/src/authoring/mod.rs
  crates/litchi-odp/src/authoring/mutable.rs
  crates/litchi-odp/src/codec/content_source/mod.rs
  crates/litchi-odp/src/codec/content_source/scanner.rs
  crates/litchi-odp/src/codec/mod.rs
  crates/litchi-odp/src/codec/parser.rs
  crates/litchi-odp/src/facade.rs
  crates/litchi-odp/src/lib.rs
  crates/litchi-odp/src/model/action.rs
  crates/litchi-odp/src/model/animation.rs
  crates/litchi-odp/src/model/declaration.rs
  crates/litchi-odp/src/model/legacy_animation.rs
  crates/litchi-odp/src/model/media.rs
  crates/litchi-odp/src/model/mod.rs
  crates/litchi-odp/src/model/page_layout.rs
  crates/litchi-odp/src/model/page_metadata.rs
  crates/litchi-odp/src/model/settings.rs
  crates/litchi-odp/src/model/slide.rs
  crates/litchi-odp/src/model/transition.rs
  crates/litchi-odp/src/package/layout_master.rs
  crates/litchi-odp/src/package/mod.rs
  crates/litchi-odp/src/package/presentation.rs
Due: rustfmt, cargo-clippy

refactor(odf): centralize RDF package editing
  crates/litchi-odf-common/src/lib.rs
  crates/litchi-odf-common/src/package/edit.rs
  crates/litchi-odf-common/src/package/mod.rs
  crates/litchi-odf-common/src/rdf/codec.rs
  crates/litchi-odf-common/src/rdf/mod.rs
  crates/litchi-odf-common/src/rdf/model.rs
  crates/litchi-odf-common/src/rdf/package.rs
  crates/litchi-odf-common/src/rdf/tests.rs
  crates/litchi-odf/src/lib.rs
  crates/litchi-odp/src/lib.rs
  crates/litchi-odp/src/package/presentation.rs
  crates/litchi-ods/src/facade/mod.rs
  crates/litchi-ods/src/lib.rs
  crates/litchi-odt/src/embedded_chart.rs
  crates/litchi-odt/src/lib.rs
Due: rustfmt, cargo-clippy

refactor(odt): layer paragraph style modules
  crates/litchi-odt/src/builder.rs
  crates/litchi-odt/src/lib.rs
  crates/litchi-odt/src/mutable.rs
  crates/litchi-odt/src/style/mod.rs
  crates/litchi-odt/src/style/paragraph/alignment.rs
  crates/litchi-odt/src/style/paragraph/border.rs
  crates/litchi-odt/src/style/paragraph/breaks.rs
  crates/litchi-odt/src/style/paragraph/drop_cap.rs
  crates/litchi-odt/src/style/paragraph/flow.rs
  crates/litchi-odt/src/style/paragraph/line_spacing.rs
  crates/litchi-odt/src/style/paragraph/margin.rs
  crates/litchi-odt/src/style/paragraph/mod.rs
  crates/litchi-odt/src/style/paragraph/tab_stop.rs
  crates/litchi-odt/src/style/paragraph/writing_mode.rs
Due: rustfmt, cargo-clippy

refactor(ods): consolidate canonical model layers
  crates/litchi-ods/src/authoring/mod.rs
  crates/litchi-ods/src/authoring/mutable.rs
  crates/litchi-ods/src/codec/content.rs
  crates/litchi-ods/src/codec/evaluation.rs
  crates/litchi-ods/src/facade/mod.rs
  crates/litchi-ods/src/lib.rs
  crates/litchi-ods/src/migration/cell.rs
  crates/litchi-ods/src/migration/consolidation.rs
  crates/litchi-ods/src/migration/detective.rs
  crates/litchi-ods/src/migration/formula.rs
  crates/litchi-ods/src/migration/label_range.rs
  crates/litchi-ods/src/migration/named_expression.rs
  crates/litchi-ods/src/migration/protection.rs
  crates/litchi-ods/src/migration/row.rs
  crates/litchi-ods/src/migration/scenario.rs
  crates/litchi-ods/src/migration/source.rs
  crates/litchi-ods/src/migration/structure.rs
  crates/litchi-ods/src/migration/style_protection.rs
  crates/litchi-ods/src/migration/table_template.rs
  crates/litchi-ods/src/model/conditional_format.rs
  crates/litchi-ods/src/model/data_pilot.rs
  crates/litchi-ods/src/model/data_validation.rs
  crates/litchi-ods/src/model/database_range.rs
  crates/litchi-ods/src/model/dde.rs
  crates/litchi-ods/src/model/hyperlink.rs
  crates/litchi-ods/src/model/mod.rs
  crates/litchi-ods/src/model/rich_text.rs
  crates/litchi-ods/src/model/sheet.rs
  crates/litchi-ods/src/model/sparkline.rs
  crates/litchi-ods/src/model/tracked_changes.rs
Due: rustfmt, cargo-clippy

refactor(odf): expose every dedicated family crate
  Cargo.toml
  crates/litchi-odf-common/src/detect.rs
  crates/litchi-odf-common/src/lib.rs
  crates/litchi-odf/Cargo.toml
  crates/litchi-odf/src/lib.rs
  crates/litchi-odt/src/lib.rs
  tools/crate_boundaries.json
Due: rustfmt, cargo-sort, cargo-clippy

refactor(odf): feature-gate family facade
  crates/litchi-odf/Cargo.toml
  crates/litchi-odf/src/lib.rs
Due: rustfmt, cargo-clippy

refactor(odf): remove duplicate detector source
  crates/litchi-odt/src/detect.rs
Due: rustfmt, cargo-clippy

feat(odf): add standalone formula crate
  crates/litchi-odf-formula/Cargo.toml
  crates/litchi-odf-formula/src/authoring/mod.rs
  crates/litchi-odf-formula/src/codec/mod.rs
  crates/litchi-odf-formula/src/facade/mod.rs
  crates/litchi-odf-formula/src/lib.rs
  crates/litchi-odf-formula/src/migration/builder.rs
  crates/litchi-odf-formula/src/migration/document.rs
  crates/litchi-odf-formula/src/migration/edit.rs
  crates/litchi-odf-formula/src/migration/mod.rs
  crates/litchi-odf-formula/src/migration/serialize.rs
  crates/litchi-odf-formula/src/model/mod.rs
  crates/litchi-odf-formula/src/package/mod.rs
  crates/litchi-odf-formula/tests/round_trip.rs
Due: rustfmt, cargo-clippy

refactor(odf): extract shared data styles
  crates/litchi-odf-common/src/lib.rs
  crates/litchi-odf-common/src/style/data/codec.rs
  crates/litchi-odf-common/src/style/data/mod.rs
  crates/litchi-odf-common/src/style/data/model.rs
  crates/litchi-odf-common/src/style/data/package.rs
  crates/litchi-odf-common/src/style/data/tests.rs
  crates/litchi-odf-common/src/style/data/tokens.rs
  crates/litchi-odf-common/src/style/mod.rs
Due: rustfmt, cargo-clippy

test(odt): use layered fixture and model paths
  crates/litchi-odt/tests/generic_variable_declaration_mutation.rs
  crates/litchi-odt/tests/list_headers.rs
  crates/litchi-odt/tests/paragraph_alignments.rs
  crates/litchi-odt/tests/style_columns.rs
Due: rustfmt, cargo-clippy

test(odt): remove legacy archive helper dependencies
  crates/litchi-odt/tests/drawing_style_resources_api.rs
  crates/litchi-odt/tests/odt_form_controls.rs
  crates/litchi-odt/tests/odt_page_sequence_authoring.rs
Due: rustfmt, cargo-clippy

test(odt): import shared section vocabulary by owner
  crates/litchi-odt/tests/header_footer_properties.rs
Due: rustfmt, cargo-clippy

refactor(odf): centralize family package ownership
  Cargo.toml
  crates/litchi-odb/src/package/mod.rs
  crates/litchi-odc/src/package/mod.rs
  crates/litchi-odf-common/src/core/family.rs
  crates/litchi-odf-common/src/core/mod.rs
  crates/litchi-odf-formula/Cargo.toml
  crates/litchi-odf-formula/src/facade/mod.rs
  crates/litchi-odf/Cargo.toml
  crates/litchi-odf/src/lib.rs
  crates/litchi-odg/src/package/mod.rs
  crates/litchi-odi/src/package/mod.rs
  crates/litchi-odm/src/package/mod.rs
  crates/litchi-ods/src/package/document.rs
  crates/litchi-oth/src/package/mod.rs
  tools/check_crate_boundaries.py
  tools/crate_boundaries.json
Due: rustfmt, cargo-sort, cargo-clippy

docs(adr): record feature-selective ODF families
  docs/adr/0023-odf-family-crate-split.md
Due: none

docs(adr): include formula in ODF family split
  docs/adr/0002-crate-topology.md
Due: none

test(odf): defer legacy corpus and wire facade smoke tests
  crates/litchi-odf/tests/deferred/unwired/odf_corpus.rs
  crates/litchi-odp/tests/facade_round_trip.rs
  crates/litchi-odt/tests/nested_text_blocks.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-sort: any of: ^Cargo\.toml$
  cargo-clippy: any of: \.rs$
