Repository DevExzh/litchi: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-sort, cargo-clippy

rustfmt:
  name: Run rustfmt
  entry: rustfmt -v --config-path . --edition 2024
  language: system
  pass_filenames: true

cargo-sort:
  name: Run cargo sort
  entry: cargo sort
  language: system
  pass_filenames: false

cargo-clippy:
  name: Run cargo clippy
  entry: cargo clippy --all-features -- -D warnings
  language: system
  pass_filenames: false

Add animation, custom slide show, and presentation protection support for PPTX with SmartArt diagram drawing content type
  Cargo.toml
  docs/FEATURE_MATRIX.md
  src/ooxml/opc/constants.rs
  src/ooxml/pptx/animations.rs
  src/ooxml/pptx/customshow.rs
  src/ooxml/pptx/handout.rs
  src/ooxml/pptx/mod.rs
  src/ooxml/pptx/package.rs
  src/ooxml/pptx/parts/chart.rs
  src/ooxml/pptx/parts/mod.rs
  src/ooxml/pptx/protection.rs
  src/ooxml/pptx/smartart.rs
  src/ooxml/pptx/template.rs
  src/ooxml/pptx/writer/excel_embed.rs
  src/ooxml/pptx/writer/mod.rs
  src/ooxml/pptx/writer/pres.rs
  src/ooxml/pptx/writer/relmap.rs
  src/ooxml/pptx/writer/shape.rs
  src/ooxml/pptx/writer/slide.rs
Due: rustfmt, cargo-sort, cargo-clippy

Add OOXML encryption support with Standard 2007 and Agile encryption schemes
  Cargo.toml
  src/ooxml/crypto/agile.rs
  src/ooxml/crypto/mod.rs
  src/ooxml/crypto/ole_encrypted_package.rs
  src/ooxml/crypto/standard2007.rs
  src/ooxml/mod.rs
  src/ooxml/pptx/mod.rs
  src/ooxml/pptx/package.rs
  src/ooxml/pptx/protection.rs
Due: rustfmt, cargo-sort, cargo-clippy

Add formula evaluation engine with statistical functions and improve XLSX feature support
  Cargo.toml
  docs/FEATURE_MATRIX.md
  src/ooxml/crypto/agile.rs
  src/ooxml/crypto/mod.rs
  src/ooxml/crypto/ole_encrypted_package.rs
  src/ooxml/crypto/standard2007.rs
  src/ooxml/docx/package.rs
  src/ooxml/pptx/package.rs
  src/ooxml/xlsx/mod.rs
  src/ooxml/xlsx/parsers/workbook_parser.rs
  src/ooxml/xlsx/shared_strings.rs
  src/ooxml/xlsx/workbook.rs
  src/ooxml/xlsx/worksheet.rs
  src/ooxml/xlsx/writer/mod.rs
  src/ooxml/xlsx/writer/sheet.rs
  src/ooxml/xlsx/writer/workbook.rs
  src/sheet/eval/engine.rs
  src/sheet/eval/engine/aggregate.rs
  src/sheet/eval/engine/bin_op.rs
  src/sheet/eval/engine/criteria.rs
  src/sheet/eval/engine/criteria_aggs.rs
  src/sheet/eval/engine/date_time.rs
  src/sheet/eval/engine/financial.rs
  src/sheet/eval/engine/logical.rs
  src/sheet/eval/engine/lookup.rs
  src/sheet/eval/engine/math.rs
  src/sheet/eval/engine/statistical.rs
  src/sheet/eval/engine/text.rs
  src/sheet/eval/mod.rs
  src/sheet/eval/parser/ast.rs
  src/sheet/eval/parser/expr.rs
  src/sheet/eval/parser/literal.rs
  src/sheet/eval/parser/mod.rs
  src/sheet/eval/parser/reference.rs
  src/sheet/mod.rs
  src/sheet/types.rs
  src/sheet/workbook.rs
Due: rustfmt, cargo-sort, cargo-clippy

Add comprehensive feature matrix entries for unimplemented features across all Office formats
  docs/FEATURE_MATRIX.md
Due: none

Add pivot table support for XLSX with cache definition, records generation, and table rendering
  src/ooxml/mod.rs
  src/ooxml/opc/constants.rs
  src/ooxml/pivot.rs
  src/ooxml/xlsx/mod.rs
  src/ooxml/xlsx/pivot.rs
  src/ooxml/xlsx/workbook.rs
  src/ooxml/xlsx/writer/sheet.rs
  src/ooxml/xlsx/writer/workbook.rs
Due: rustfmt, cargo-clippy

Add sparkline support for XLSX with group creation, color customization, and worksheet extension rendering
  docs/FEATURE_MATRIX.md
  src/ooxml/xlsx/mod.rs
  src/ooxml/xlsx/sparkline.rs
  src/ooxml/xlsx/worksheet.rs
  src/ooxml/xlsx/writer/sheet.rs
  src/ooxml/xlsx/writer/workbook.rs
Due: rustfmt, cargo-clippy

Update `crc-fast` dependency from version 1.7 to 1.8
  Cargo.toml
Due: cargo-sort

Add installation instructions for Protocol Buffer compiler requirement and update feature flag documentation
  README.md
Due: none

Remove unnecessary whitespace and newlines from OOXML XML serialization output
  src/ooxml/opc/pkgwriter.rs
  src/ooxml/opc/rel.rs
  src/ooxml/xlsx/writer/sheet.rs
Due: rustfmt, cargo-clippy

Optimize ODF package writer with fast-path stored file writing and compact XML serialization
  soapberry-zip/src/office.rs
  soapberry-zip/src/writer.rs
  src/odf/core/writer.rs
  src/odf/elements/element.rs
  src/odf/odp/builder.rs
  src/odf/odp/mutable.rs
  src/odf/ods/builder.rs
  src/odf/ods/formula.rs
  src/odf/ods/mutable.rs
  src/odf/odt/builder.rs
  src/odf/odt/mutable.rs
Due: rustfmt, cargo-clippy

Fix documentation examples to use correct module paths and add missing `mut` keywords
  src/lib.rs
  src/ole/doc/document.rs
  src/ole/doc/mod.rs
Due: rustfmt, cargo-clippy

Replace `unescape_value()` with `decode_and_unescape_value()` for proper XML attribute decoding in DOCX paragraph and run parsing, and add fallback relationship ID mapping for PPTX custom shows
  src/ooxml/docx/paragraph.rs
  src/ooxml/pptx/customshow.rs
Due: rustfmt, cargo-clippy

Remove Dependabot PR labels configuration for Cargo and GitHub Actions updates
  .github/dependabot.yml
Due: none

Add font subsetting and system font loading capabilities with SIMD-accelerated XOR operations
  Cargo.toml
  src/common/id.rs
  src/common/simd/mod.rs
  src/common/simd/xor.rs
  src/fonts/loader.rs
  src/fonts/mod.rs
  src/fonts/subsetter.rs
  src/lib.rs
  src/ooxml/docx/package.rs
  src/ooxml/docx/writer/doc.rs
  src/ooxml/docx/writer/hyperlink.rs
  src/ooxml/docx/writer/run.rs
  src/ooxml/fonts/mod.rs
  src/ooxml/fonts/obfuscation.rs
  src/ooxml/mod.rs
  src/ooxml/opc/constants.rs
  src/ooxml/opc/package.rs
  src/ooxml/opc/pkgwriter.rs
  src/ooxml/pptx/package.rs
  src/ooxml/pptx/writer/pres.rs
  src/ooxml/pptx/writer/shape.rs
  src/ooxml/pptx/writer/slide.rs
Due: rustfmt, cargo-sort, cargo-clippy

Add shared Escher (OfficeArt) module for cross-format drawing object support with DOC shape extraction
  src/ole/doc/mod.rs
  src/ole/doc/shapes.rs
  src/ole/escher/container.rs
  src/ole/escher/mod.rs
  src/ole/escher/parser.rs
  src/ole/escher/properties.rs
  src/ole/escher/record.rs
  src/ole/escher/shape.rs
  src/ole/escher/shape_factory.rs
  src/ole/escher/text.rs
  src/ole/escher/types.rs
  src/ole/escher/writer.rs
  src/ole/mod.rs
  src/ole/ppt/escher/mod.rs
  src/ole/ppt/escher/properties.rs
  src/ole/ppt/escher/shape.rs
  src/ole/ppt/escher/text.rs
  src/ole/ppt/slide/types.rs
  src/ole/ppt/writer/core.rs
  src/ole/ppt/writer/escher.rs
  src/ole/ppt/writer/shape_style.rs
  src/ole/xls/mod.rs
  src/ole/xls/shapes.rs
Due: rustfmt, cargo-clippy

Add RTF support for headers, footers, footnotes, endnotes, and hyperlinks with parsing and writing capabilities
  docs/FEATURE_MATRIX.md
  src/rtf/document.rs
  src/rtf/parser.rs
  src/rtf/writer.rs
Due: rustfmt, cargo-clippy

Add code quality checks in the CI pipeline
  .github/workflows/rust-ci.yml
Due: none

Add missing unit tests for the OLE container writer
  src/ole/writer/tests.rs
Due: rustfmt, cargo-clippy

Reformat the `xml-minifier` crate for better readability
  xml-minifier/src/lib.rs
Due: rustfmt, cargo-clippy

Add additional explanation and CI dependencies for the `fonts` feature
  .github/workflows/rust-ci.yml
  README.md
Due: none

Add SYLK, DIF, and fixed-width PRN format support with delimited text handler and public API functions
  src/common/bom.rs
  src/common/mod.rs
  src/sheet/functions.rs
  src/sheet/text/formats/delimited.rs
  src/sheet/text/formats/dif.rs
  src/sheet/text/formats/fixed_width.rs
  src/sheet/text/formats/mod.rs
  src/sheet/text/formats/sylk.rs
  src/sheet/text/formats/tests.rs
  src/sheet/text/mod.rs
  src/sheet/text/workbook.rs
  src/sheet/types.rs
Due: rustfmt, cargo-clippy

feat(docx): add to-stream writer for docx package
  src/ooxml/docx/package.rs
Due: rustfmt, cargo-clippy

Add one more funding option to GitHub Sponsors configuration
  .github/FUNDING.yml
Due: none

Add path filters to Rust CI workflow to run only on relevant file changes
  .github/workflows/rust-ci.yml
Due: none

feat(ole): support paragraph runs image extraction
  src/ole/doc/document.rs
  src/ole/doc/image.rs
  src/ole/doc/mod.rs
  src/ole/doc/paragraph.rs
  src/ole/doc/parts/chp.rs
Due: rustfmt, cargo-clippy

fix(ole): use apache poi based chp parser
  src/ole/doc/parts/chp.rs
  src/ole/doc/parts/chp_bin_table.rs
Due: rustfmt, cargo-clippy

fix(ole): store data stream for accessing image data
  src/ole/doc/document.rs
  src/ole/doc/image.rs
  src/ole/doc/paragraph.rs
Due: rustfmt, cargo-clippy

Add GitHub community health files with contribution guidelines, issue templates, and PR template
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE/default.md
Due: none

Add branch filter to Rust CI workflow to run only on main branch changes
  .github/workflows/rust-ci.yml
Due: none

refactor(ole): use builtin blip parser
  src/images/blip.rs
  src/images/extractor.rs
  src/ole/doc/document.rs
  src/ole/doc/image.rs
  src/ole/doc/mod.rs
  src/ole/doc/paragraph.rs
  src/ole/escher/record.rs
Due: rustfmt, cargo-clippy

fix: adviced comments and add static assert for PictureFields
  src/ole/doc/image.rs
Due: rustfmt, cargo-clippy

tests: add document image extraction test
  src/ole/doc/document.rs
  src/ole/doc/image.rs
Due: rustfmt, cargo-clippy

Update src/images/extractor.rs
  src/images/extractor.rs
Due: rustfmt, cargo-clippy

Update src/ole/doc/image.rs
  src/ole/doc/image.rs
Due: rustfmt, cargo-clippy

fix: make clippy happy
  src/images/extractor.rs
Due: rustfmt, cargo-clippy

Support multi-key sorting and page breaks for the XLSX format
  docs/FEATURE_MATRIX.md
  src/ooxml/xlsx/mod.rs
  src/ooxml/xlsx/sort.rs
  src/ooxml/xlsx/views.rs
  src/ooxml/xlsx/worksheet.rs
  src/ooxml/xlsx/writer/mod.rs
  src/ooxml/xlsx/writer/sheet.rs
Due: rustfmt, cargo-clippy

Fix the clippy warnings
  src/ole/ppt/writer/escher.rs
Due: rustfmt, cargo-clippy

Add XLSX table support with parsing, serialization, and worksheet integration
  docs/FEATURE_MATRIX.md
  src/ooxml/xlsx/mod.rs
  src/ooxml/xlsx/table.rs
  src/ooxml/xlsx/workbook.rs
  src/ooxml/xlsx/writer/mod.rs
  src/ooxml/xlsx/writer/sheet.rs
  src/ooxml/xlsx/writer/table.rs
  src/sheet/eval/mod.rs
  src/sheet/eval/parser/mod.rs
  src/sheet/eval/parser/structured_ref.rs
Due: rustfmt, cargo-clippy

Path conditions:
  rustfmt: any of: \.rs$
  cargo-sort: any of: ^Cargo\.toml$
  cargo-clippy: any of: \.rs$
