Repository DevExzh/litchi: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, cargo-sort, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: Run rustfmt
        entry: rustfmt -v --config-path . --edition 2024
        language: system
        types: [rust]
        pass_filenames: true
      - id: cargo-sort
        name: Run cargo sort
        entry: cargo sort
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false
      - id: cargo-clippy
        name: Run cargo clippy
        entry: cargo clippy --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

fix: make clippy happy again
  src/ole/ppt/writer/escher.rs
Due: rustfmt, cargo-clippy

Support image extraction for the OLE formats (#4)
  src/images/blip.rs
  src/images/extractor.rs
  src/ole/doc/document.rs
  src/ole/doc/image.rs
  src/ole/doc/mod.rs
  src/ole/doc/paragraph.rs
  src/ole/doc/parts/chp.rs
  src/ole/doc/parts/chp_bin_table.rs
  src/ole/escher/record.rs
  src/ooxml/docx/package.rs
Due: rustfmt, cargo-clippy

Add OOXML chart axis models with category, value, date, and series axis support
  src/ooxml/charts/axis.rs
  src/ooxml/charts/chart.rs
  src/ooxml/charts/legend.rs
  src/ooxml/charts/mod.rs
  src/ooxml/charts/models.rs
  src/ooxml/charts/plot_area.rs
  src/ooxml/charts/reader.rs
  src/ooxml/charts/series.rs
  src/ooxml/charts/types.rs
  src/ooxml/charts/writer.rs
  src/ooxml/mod.rs
  src/ooxml/xlsx/chart.rs
  src/ooxml/xlsx/mod.rs
  src/ooxml/xlsx/workbook.rs
  src/ooxml/xlsx/writer/sheet.rs
Due: rustfmt, cargo-clippy

Enhance XLSX pivot table support with cache definitions, fields, filters, and table structures
  src/ooxml/xlsx/mod.rs
  src/ooxml/xlsx/pivot/cache.rs
  src/ooxml/xlsx/pivot/fields.rs
  src/ooxml/xlsx/pivot/filters.rs
  src/ooxml/xlsx/pivot/mod.rs
  src/ooxml/xlsx/pivot/reader.rs
  src/ooxml/xlsx/pivot/styles.rs
  src/ooxml/xlsx/pivot/writer.rs
Due: rustfmt, cargo-clippy

Add threaded comments support for XLSX format with parsing, serialization, and person management
  docs/FEATURE_MATRIX.md
  src/ooxml/opc/constants.rs
  src/ooxml/xlsx/mod.rs
  src/ooxml/xlsx/resources/metadata.xml
  src/ooxml/xlsx/threaded_comments/mod.rs
  src/ooxml/xlsx/threaded_comments/person.rs
  src/ooxml/xlsx/threaded_comments/reader.rs
  src/ooxml/xlsx/threaded_comments/writer.rs
  src/ooxml/xlsx/workbook.rs
  src/ooxml/xlsx/writer/sheet.rs
  src/ooxml/xlsx/writer/workbook.rs
Due: rustfmt, cargo-clippy

Add PPT animation support with motion paths, triggers, effects, and build animations
  src/ole/consts.rs
  src/ole/ppt/animation/mod.rs
  src/ole/ppt/animation/motion_path.rs
  src/ole/ppt/animation/parser.rs
  src/ole/ppt/animation/sound.rs
  src/ole/ppt/animation/triggers.rs
  src/ole/ppt/animation/types.rs
  src/ole/ppt/animation/writer.rs
  src/ole/ppt/mod.rs
  src/ole/ppt/transition/mod.rs
  src/ole/ppt/transition/parser.rs
  src/ole/ppt/transition/sound.rs
  src/ole/ppt/transition/types.rs
  src/ole/ppt/transition/writer.rs
  src/ole/ppt/writer/core.rs
  src/ole/ppt/writer/escher.rs
  src/ole/ppt/writer/mod.rs
  src/ole/ppt/writer/sound_collection.rs
Due: rustfmt, cargo-clippy

Add Word document subdocument support with headers, footers, footnotes, endnotes, hyperlinks, and list numbering
  src/ole/doc/document.rs
  src/ole/doc/footnote.rs
  src/ole/doc/header_footer.rs
  src/ole/doc/hyperlink.rs
  src/ole/doc/mod.rs
  src/ole/doc/parts/footnotes.rs
  src/ole/doc/parts/headers.rs
  src/ole/doc/parts/hyperlinks.rs
  src/ole/doc/parts/images.rs
  src/ole/doc/parts/mod.rs
  src/ole/doc/parts/numbering.rs
  src/ole/doc/parts/text.rs
  src/ole/doc/writer/bin_table.rs
  src/ole/doc/writer/core.rs
  src/ole/doc/writer/dop.rs
  src/ole/doc/writer/fib.rs
  src/ole/doc/writer/fkp.rs
  src/ole/doc/writer/footnotes.rs
  src/ole/doc/writer/headers.rs
  src/ole/doc/writer/hyperlinks.rs
  src/ole/doc/writer/images.rs
  src/ole/doc/writer/mod.rs
  src/ole/doc/writer/numbering.rs
  src/ole/doc/writer/stylesheet.rs
  src/ole/sprm_operations.rs
Due: rustfmt, cargo-clippy

Add PowerPoint custom shows and slide comments support with parsing and serialization
  src/ole/consts.rs
  src/ole/ppt/presentation.rs
  src/ole/ppt/slide/mod.rs
  src/ole/ppt/slide/types.rs
  src/ole/ppt/writer/comments.rs
  src/ole/ppt/writer/core.rs
  src/ole/ppt/writer/custom_shows.rs
  src/ole/ppt/writer/mod.rs
  src/ole/ppt/writer/records.rs
  src/ole/ppt/writer/slide_timing.rs
Due: rustfmt, cargo-clippy

Add XLSB conditional formatting and data validation support with binary serialization
  src/ooxml/xlsb/conditional_formatting.rs
  src/ooxml/xlsb/mod.rs
  src/ooxml/xlsb/pivot_tables.rs
  src/ooxml/xlsb/records.rs
  src/ooxml/xlsb/writer/bin_range.rs
  src/ooxml/xlsb/writer/conditional_formatting.rs
  src/ooxml/xlsb/writer/data_validation.rs
  src/ooxml/xlsb/writer/mod.rs
  src/ooxml/xlsb/writer/styles.rs
  src/ooxml/xlsb/writer/worksheet.rs
Due: rustfmt, cargo-clippy

Add XLS autofilter, sort, and comments support with BIFF8 record parsing
  src/ole/xls/autofilter.rs
  src/ole/xls/comments.rs
  src/ole/xls/hyperlinks.rs
  src/ole/xls/merged_cells.rs
  src/ole/xls/mod.rs
  src/ole/xls/pivot_table.rs
  src/ole/xls/protection.rs
  src/ole/xls/utils.rs
  src/ole/xls/workbook.rs
  src/ole/xls/worksheet.rs
  src/ole/xls/writer/biff.rs
  src/ole/xls/writer/biff/cells.rs
  src/ole/xls/writer/biff/modern_globals.rs
  src/ole/xls/writer/biff/pivot.rs
  src/ole/xls/writer/biff/pivot_xfext.rs
  src/ole/xls/writer/biff/workbook.rs
  src/ole/xls/writer/biff/worksheet.rs
  src/ole/xls/writer/core.rs
  src/ole/xls/writer/core/stream.rs
  src/ole/xls/writer/core/worksheet.rs
  src/ole/xls/writer/formatting.rs
  src/ole/xls/writer/mod.rs
Due: rustfmt, cargo-clippy

chore(deps): upgrade atoi_simd from 0.17 to 0.18
  Cargo.toml
  src/formula/omml/attributes.rs
  src/odf/elements/attr_parser.rs
  src/ooxml/docx/bookmark.rs
  src/ooxml/docx/comment.rs
  src/ooxml/docx/content_control.rs
  src/ooxml/docx/footnote.rs
  src/ooxml/docx/numbering.rs
  src/ooxml/docx/settings.rs
  src/ooxml/opc/rel.rs
  src/ooxml/xlsx/parsers/workbook_parser.rs
  src/ooxml/xlsx/parsers/worksheet_parser.rs
  src/ooxml/xlsx/worksheet.rs
Due: rustfmt, cargo-sort, cargo-clippy

chore(deps): upgrade hmac 0.12->0.13, sha1 0.10->0.11
  Cargo.toml
  src/ooxml/crypto/agile.rs
Due: rustfmt, cargo-sort, cargo-clippy

chore(deps): upgrade rand from 0.9 to 0.10
  Cargo.toml
  src/common/id.rs
  src/ooxml/crypto/agile.rs
  src/ooxml/crypto/standard2007.rs
  src/ooxml/pptx/protection.rs
  src/sheet/eval/engine/math/random.rs
  src/sheet/eval/engine/math/series.rs
Due: rustfmt, cargo-sort, cargo-clippy

chore(deps): upgrade dev-dependency zip from 2 to 8
  Cargo.toml
  src/ooxml/docx/parts/document_part.rs
Due: rustfmt, cargo-sort, cargo-clippy

Update the dependencies (#5, #6, #7, #8, #10) (#11)
  Cargo.toml
  src/common/id.rs
  src/formula/omml/attributes.rs
  src/odf/elements/attr_parser.rs
  src/ooxml/crypto/agile.rs
  src/ooxml/crypto/standard2007.rs
  src/ooxml/docx/bookmark.rs
  src/ooxml/docx/comment.rs
  src/ooxml/docx/content_control.rs
  src/ooxml/docx/footnote.rs
  src/ooxml/docx/numbering.rs
  src/ooxml/docx/parts/document_part.rs
  src/ooxml/docx/settings.rs
  src/ooxml/opc/rel.rs
  src/ooxml/pptx/protection.rs
  src/ooxml/xlsx/parsers/workbook_parser.rs
  src/ooxml/xlsx/parsers/worksheet_parser.rs
  src/ooxml/xlsx/worksheet.rs
  src/sheet/eval/engine/math/random.rs
  src/sheet/eval/engine/math/series.rs
Due: rustfmt, cargo-sort, cargo-clippy

Pre-refactor hotfix: fix breakage exposed by workspace inclusion
  pyo3-litchi/src/common.rs
  soapberry-zip/Cargo.toml
  soapberry-zip/src/archive.rs
  soapberry-zip/src/locator.rs
  soapberry-zip/src/path.rs
  soapberry-zip/src/reader_at.rs
  soapberry-zip/src/time.rs
  soapberry-zip/src/writer.rs
Due: rustfmt, cargo-clippy

P2a: carve out litchi-rtf crate from src/rtf/
  Cargo.toml
  crates/litchi-rtf/Cargo.toml
  crates/litchi-rtf/src/annotation.rs
  crates/litchi-rtf/src/bookmark.rs
  crates/litchi-rtf/src/border.rs
  crates/litchi-rtf/src/compressed.rs
  crates/litchi-rtf/src/document.rs
  crates/litchi-rtf/src/error.rs
  crates/litchi-rtf/src/field.rs
  crates/litchi-rtf/src/info.rs
  crates/litchi-rtf/src/lexer.rs
  crates/litchi-rtf/src/lib.rs
  crates/litchi-rtf/src/list.rs
  crates/litchi-rtf/src/parser.rs
  crates/litchi-rtf/src/picture.rs
  crates/litchi-rtf/src/section.rs
  crates/litchi-rtf/src/shape.rs
  crates/litchi-rtf/src/stylesheet.rs
  crates/litchi-rtf/src/table.rs
  crates/litchi-rtf/src/types.rs
  crates/litchi-rtf/src/writer.rs
  src/document/doc.rs
  src/document/paragraph.rs
  src/document/run.rs
  src/document/table.rs
  src/document/types.rs
  src/lib.rs
Due: rustfmt, cargo-sort, cargo-clippy

P2e: carve out litchi-fonts crate from src/fonts/
  Cargo.toml
  crates/litchi-fonts/Cargo.toml
  crates/litchi-fonts/src/lib.rs
  crates/litchi-fonts/src/loader.rs
  crates/litchi-fonts/src/subsetter.rs
  src/lib.rs
  src/ooxml/docx/package.rs
  src/ooxml/docx/writer/doc.rs
  src/ooxml/docx/writer/hyperlink.rs
  src/ooxml/docx/writer/run.rs
  src/ooxml/fonts/mod.rs
  src/ooxml/pptx/package.rs
  src/ooxml/pptx/writer/pres.rs
  src/ooxml/pptx/writer/shape.rs
  src/ooxml/pptx/writer/slide.rs
Due: rustfmt, cargo-sort, cargo-clippy

P3a: carve out litchi-cfb crate (CFB/OLE2 substrate)
  Cargo.toml
  crates/litchi-cfb/Cargo.toml
  crates/litchi-cfb/src/consts.rs
  crates/litchi-cfb/src/file.rs
  crates/litchi-cfb/src/lib.rs
  crates/litchi-cfb/src/metadata.rs
  crates/litchi-cfb/src/writer/core.rs
  crates/litchi-cfb/src/writer/difat.rs
  crates/litchi-cfb/src/writer/directory.rs
  crates/litchi-cfb/src/writer/fat.rs
  crates/litchi-cfb/src/writer/header.rs
  crates/litchi-cfb/src/writer/minifat.rs
  crates/litchi-cfb/src/writer/mod.rs
  crates/litchi-cfb/src/writer/tests.rs
  src/error_ext.rs
  src/metadata_ext.rs
  src/ole/consts.rs
  src/ole/doc/shapes.rs
  src/ole/doc/writer/core.rs
  src/ole/mod.rs
  src/ole/mtef_extractor.rs
  src/ole/ppt/writer/core.rs
  src/ole/xls/error.rs
  src/ole/xls/workbook.rs
  src/ole/xls/writer/core.rs
  src/ooxml/crypto/ole_encrypted_package.rs
Due: rustfmt, cargo-sort, cargo-clippy

P5: carve out litchi-markdown crate (format-agnostic Markdown emission helpers)
  Cargo.toml
  crates/litchi-markdown/Cargo.toml
  crates/litchi-markdown/src/config.rs
  crates/litchi-markdown/src/lib.rs
  crates/litchi-markdown/src/traits.rs
  crates/litchi-markdown/src/unicode.rs
  src/markdown/document.rs
  src/markdown/mod.rs
  src/markdown/presentation.rs
  src/markdown/writer.rs
Due: rustfmt, cargo-sort, cargo-clippy

soapberry-zip: restore missing test.zip fixture
  .gitignore
  crates/soapberry-zip/assets/test.zip
Due: none

Add per-crate README files for the carved-out workspace crates
  crates/litchi-cfb/README.md
  crates/litchi-core/README.md
  crates/litchi-eval/README.md
  crates/litchi-fonts/README.md
  crates/litchi-formula/README.md
  crates/litchi-imgconv/README.md
  crates/litchi-iwa/README.md
  crates/litchi-markdown/README.md
  crates/litchi-odf/README.md
  crates/litchi-ole/README.md
  crates/litchi-ooxml/README.md
  crates/litchi-opc/README.md
  crates/litchi-rtf/README.md
  crates/litchi/README.md
Due: none
